.request-form {
  display: flex;
  flex-direction: column;
}

.request-form__row {
  display: grid;
  row-gap: 16px;
  margin-bottom: 40px;

  &--half {
    max-width: 356px;
  }

  &--col2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
  }
}

.request-form__row-heading {
  grid-column: 1 / -1;
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.request-form__item {
  grid-column: span 1;
  &--full {
    grid-column: 1 / -1;
  }
}